<%= form_for(@current_account) do |f| %>
  <% if @current_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@current_account.errors.count, "error") %> prohibited this current_account from being saved:</h2>

      <ul>
      <% @current_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.admin? %> 
    <div class="form-group">
      <%= f.label :city_id %><br>
      <%= f.select(:city_id, City.order(:name).collect {|c| [c.name, c.id]}, {include_blank: "Select City"}, {class: "form-control"} )%>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :city_id %><br>
      <%= f.hidden_field :city_id, value: current_user.city_id %>
      <%= f.select(:city_id, City.order(:name).collect {|c| [c.name, c.id]}, {selected: current_user.city_id}, {disabled: true, class: "form-control"} )%>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :cost_id %><br>
    <%= f.select(:cost_id, Cost.order(:name).collect {|c| [c.name, c.id]}, {include_blank: "Select Cost"}, {class: "form-control"} )%>
  </div>
  <div class="form-group">
    <%= f.label :date_ocurrence, "Data" %><br>
    <% if @current_account.new_record? %> 
      <%= f.text_field :date_ocurrence, value: date_br(DateTime.now), class: "form-control datepicker" %>
    <% else %>
      <%= f.text_field :date_ocurrence, value: date_br(@current_account.date_ocurrence), class: "form-control datepicker" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :type_launche %><br>
    <%= f.select( :type_launche, select_credito_debito, {include_blank: false}, {class: "form-control"} )%>
  </div>
  <div class="form-group">
    <%= f.label :price, "Valor" %><br>
    <%= f.text_field :price, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :historic %><br>
    <%= f.text_field :historic, {class: "form-control"} %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-block'  %>
    <%= link_to t("show"),  current_account_path(@current_account), class: "btn btn-info btn-sm btn-block" if !@current_account.new_record? %>
    <% if current_user.admin? %> 
      <%= link_to t("back"), current_accounts_path, class: "btn btn-default btn-sm btn-block" %>
    <% else %>
      <%= link_to t("back"), index_user_operator_current_accounts_path, class: "btn btn-default btn-sm btn-block" %>
    <% end %>
  </div>

  <hr/>
<% end %>
