<p id="notice"><%= notice %></p>

<h1><%= t(".title") %></h1>

<%= link_to t(".new"), new_current_account_path, class: "btn btn-primary btn-block" %>
<%= link_to t(".search"), search_current_accounts_path, class: "btn btn-default btn-block" %> <br />

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= CurrentAccount.human_attribute_name('city') %></th>
      <th><%= CurrentAccount.human_attribute_name('cost') %></th>
      <th><%= CurrentAccount.human_attribute_name('date_ocurrence') %></th>
      <th><%= CurrentAccount.human_attribute_name('type') %></th>
      <th><%= CurrentAccount.human_attribute_name('price') %></th>
      <th><%= CurrentAccount.human_attribute_name('historic') %></th>
      <th colspan="2"><%= t('options') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @current_accounts.each do |current_account| %>
      <tr>
        <td><%= current_account.city.name %></td>
        <td><%= current_account.cost.name %></td>
        <td><%= date_br(current_account.date_ocurrence) %></td>
        <td><%= current_account.credito_debito %></td>
        <td><%= current_account.price %></td>
        <td><%= current_account.historic %></td>
        <td><%= link_to t('show'), current_account %></td>
        <td><%= link_to t('edit'), edit_current_account_path(current_account) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
