
<p id="notice"><%= notice %></p>

<h3>Dados do Emprestimo</h3>

<p>
  <strong><%= Advance.human_attribute_name('city') %>:</strong>
  <%= @advance.client.city.name %>
  -
  <strong><%= Advance.human_attribute_name('client') %>:</strong>
  <%= @advance.client.name %>
</p>

<p>
  <strong><%= Advance.human_attribute_name('date_advance') %>:</strong>
  <%= date_br(@advance.date_advance) %>
</p>

<p>
  <strong><%= Advance.human_attribute_name('price') %></strong>
  <%= @advance.price %>
  -
  <strong><%= Advance.human_attribute_name('balance') %>:</strong>
  <%= @advance.balance %>
  -
  <strong><%= Advance.human_attribute_name('payd') %>:</strong>
  <%= @advance.payd %>
</p>

<p>
  <strong><%= Advance.human_attribute_name('number_parts') %>:</strong>
  <%= @advance.number_parts %>
  -
  <strong><%= Advance.human_attribute_name('percent') %>:</strong>
  <%= @advance.percent %>
</p>

<p>
  <strong>Status:</strong>
  <%= @advance.name_status %>
</p>

<%= link_to t('edit'), edit_advance_path(@advance) %> |
<%= link_to t('recalculation'), recalculation_path(@advance) %> |
<%= link_to t('back'), advances_path %>

<hr/>

<%= render 'item_advances', item_advances: @advance.item_advances, dasboard: false %>

<br>
