
<div class="row">
  <div class="col-xl-4 col-md-4 mb-4">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
      <div class="card-header">Total Cobranca</div>
      <div class="card-body text-secondary">
        <div class="d-flex justify-content-between">
          <div>
            Total Diária: <%= ItemAdvance.total_diaria(current_user.city_id) %> <br /> 
            Total Cobrado: <%= ItemAdvance.total_cobrado(current_user.city_id) %> 
          </div>

          <div>
            </a>
            <%= link_to "Lançar no caixa", launch_current_accounts_path(price: "#{ItemAdvance.total_cobrado(current_user.city_id)}"), class: "btn btn-outline-primary", style: "none-decoration" %>
          </div>
        </div>
        
      </div>
    </div>
  </div>  

  <div class="col-xl-4 col-md-4 mb-4">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
      <div class="card-header">Total</div>
      <div class="card-body text-secondary">
        Entradas:   <%= CurrentAccount.total_credito(current_user.city_id) %> <br />
        Saidas  :   <%= CurrentAccount.total_debito(current_user.city_id) %> <br />
      </div>
    </div>
  </div>  

  <div class="col-xl-4 col-md-4 mb-4">
    <div class="card border-secondary mb-3" style="max-width: 22rem;">
      <div class="card-header">Saldo</div>
      <div class="card-body text-secondary">
        Anterior:   <%= CurrentAccount.saldo_anterior(current_user.city_id) %> <br />
        Diario  :   <%= CurrentAccount.saldo(current_user.city_id) %> <br />
      </div>
    </div>
  </div>  

</div>

<% @item_advances.each do |item| %> 
   <% if !item.date_payment.nil? %>
      <div class="card mb-3" style="max-width: 22rem; border-left: 3px solid --bs-danger;">
        <div class="card-header text-bg-danger"><%= link_to item.client.name, edit_item_advance_path(item), style: 'text-decoration: none; color: white' %></div>
        <div class="card-body">
          <p>
            Venc: <%= item.due_date.to_s %> | Valor: <%= item.price.to_f %> <br />
            Dt. Pgto: <%= item.date_payment.to_s %> | Valor Pago: <%= item.value_payment.to_f %>          
          </p>
        </div>
      </div>

      <% else %>

      <div class="card mb-3" style="max-width: 22rem; border-left: 3px solid --bs-info;">
        <div class="card-header text-bg-info"><%= item.client.name %></div>
        <div class="card-body">
          <p>
            Venc: <%= item.due_date.to_s %> | Valor: <%= item.price.to_f %> <br />
            Dt. Pgto: <%= item.date_payment.to_s %> | Valor Pago: <%= item.value_payment.to_f %>          
          </p>
        </div>
      </div>
   <% end %>
<% end %>